Validation/src/META-INF/purchaseOrder2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" >

  <xs:element name="purchaseOrder" type="purchaseOrderType" /> 
 <xs:complexType name="purchaseOrderType">
 <xs:sequence>
  <xs:element name="item" type="itemType" /> 
  <xs:element name="shippingAddress" type="shippingAddressType" /> 
  </xs:sequence>
  </xs:complexType>
 <xs:complexType name="itemType">
 <xs:sequence>
  <xs:element name="itemCode" type="xs:string" /> 
  <xs:element name="quantity" type="xs:int" /> 
  </xs:sequence>
  </xs:complexType>
 <xs:complexType name="shippingAddressType">
 <xs:sequence>
  <xs:element name="addressLine1" type="xs:string" /> 
  <xs:element name="addressLine2" type="xs:string" /> 
  <xs:element name="city" type="xs:string" /> 
  <xs:element name="state" type="xs:string" /> 
  <xs:element name="zip" type="xs:int" /> 
  <xs:element name="country" type="xs:string" /> 
  </xs:sequence>
  </xs:complexType>
</xs:schema>
